body{
            margin: 0px;
        }
        .myBg{
            background-color: rgba(0,0,0,0.5);
        }
        #mainContent{
            margin-top: 3%;            
        }
        #cont{
            border: rgba(0,0,0,.9) groove 2px;
            background-color: rgba(0,0,0,0.2);
            padding: 8%;
        }